<launch>

    <node name="camera_node" pkg="arm" type="camera.py"/>

    <node name="joy_node" pkg="joy" type="joy_node">
        <remap from="/joy" to="/Controller/ref"/>
    </node>

    <node name="controller_node" pkg="arm" type="controller.py">
        <remap from="/Camera/ref/position" to="/Camera/state/position"/>
    </node>

    <node name="change_frame" pkg="arm" type="change_frame.py">
        <remap from="/Camera/state/position" to="/Point/ref"/>
    </node>

    <node name="inverse_kinematics" pkg="inverse_kinematics" type="inverse_kinematics">
        <remap from="/command" to="Base/ref/position"/>
    </node>

</launch>