<launch>

    <!-- send joint values -->
    <node name="inverse_kinematics" pkg="inverse_kinematics" type="inverse_kinematics">
        <remap from="/Command" to="/Robot/ref/position"/>
    </node>

    <!-- Combine joint values -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
      <remap from="robot_description" to="robot_description" />
      <remap from="/joint_states" to="/Robot/ref/joint" />
    </node>    
    
    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm)/src/rviz/eden.rviz">
    </node>

</launch>